:root{
    --shadow:0 3px 10px rgba(104,104,104,0.8);
    --palegold:#c0b283;
    --silk:#dcd0cd;
    --paper:#f4f4f4;
    --shadow_silk_box: 0 10px 15px rgb(220,208,205);
    --shadow_silk_text: -5px 10px 5px rgb(220,208,205);
    --shadow_silk_img: 15px 15px 10px rgb(220,208,205);
    --charcoal:#373737;
}

body{
    margin:0;
    background-color: var(--paper);
}

.wrapper{
    display:grid;
    grid-gap: 5%;
    grid-template-columns: 15% 60% 15%;
}

.left-box{
    background-color: var(--palegold);
    box-shadow: var(--shadow);
}

.left{
    font-size: 600%; /* initially 7vh */
    font-family: "Playfair Display";
    font-weight: bold;
    writing-mode: vertical-rl;
    text-orientation: upright;
    /* letter-spacing: 0.5rem; */
    position: fixed;
    top:3%;
    left:5%;
    color:var(--paper);
    text-shadow: var(--shadow_silk_text);
}

.right-box{
    background-color: var(--palegold);
    box-shadow: var(--shadow);
}

.right{
    font-size: 600%;
    font-family: "Playfair Display";
    font-weight: bold;
    writing-mode: vertical-lr;
    text-orientation: upright;
    /* letter-spacing: 0.5rem; */
    position: fixed;
    bottom: 3%;
    right: 5%;
    color:var(--paper);
    text-shadow: var(--shadow_silk_text);
}

.header{
    display: flex;
    margin-top: 2rem;
    justify-content: space-between;
}

.half{
    width: 37.5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.desc{
    /* box-shadow: var(--shadow_silk_box); */
    padding: 1.5rem;
    text-align: right;
    width: 100%;
    font-weight: bold;
}

.hist{
    box-shadow: var(--shadow_silk_box);
    padding: 1.5rem;
    width: 100%;
}

.el{
    margin: 0.5rem 0 0.5rem 0;
    font-size: 1rem;
}

.pp{
    width: 52.5%;
    box-shadow: var(--shadow_silk_img);
}

.bio{
    font-size: 1.2rem;
    color:var(--charcoal);
    font-family: "Lato";
}

.pair{
    display:grid;
    padding: 0;
    grid-template-areas: 
    'content_odd content_odd content_odd .'
    '. content_even content_even content_even';
}

.content_odd{
    grid-area: content_odd;
    box-shadow: var(--shadow_silk_box);
    padding: 1.3rem;
    margin: 0.7rem 0 0.7rem 0;
}

.content_even{
    grid-area: content_even;
    box-shadow: var(--shadow_silk_box);
    padding: 1.3rem;
    margin: 0.7rem 0 0.7rem 0;
}

.socmed{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 1rem 0;
    font-size: 1rem;
}

.sym{
    width: 5%;
}